.check-box {
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 0.25rem;
    accent-color: rgb(225, 177, 33);
    color: rgb(225, 177, 33);
    inline-size: 50px;
    height: 24px;
}

.modal {
    display: flex;
    z-index: 10000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    width: inherit;
    min-width: 90vw;
    height: inherit;
    min-height: 70vh;
    background: black;
}

dialog:not([open]) {
    display: none;
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

.rating {
    margin-left: 10px;
}

.checked {
    color: orange;
}

.fa-star {
    font-size: .85rem;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.finished-date {
    font-size: .75rem;
    margin-left: 12px;
    font-family: "niveau-grotesk", "sans-serif";
    text-transform: uppercase;
}

.action-btn {
    border-style: solid;
    border-width: 1px;
    color: rgb(207, 170, 66);
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 8em;
    margin: 1em;
    cursor: pointer;
}

