<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Drink History - Williams &amp; Graham</title>
    <link rel="stylesheet" id="plate-stylesheet-css"
          href="https://williamsandgraham.com/wp-content/themes/wg-custom-plate/library/css/style.css" type="text/css"
          media="all">
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='plate-ie-only-css'
          href='https://williamsandgraham.com/wp-content/themes/wg-custom-plate/library/css/ie.css' type='text/css'
          media='all'/>
    <![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .check-box {
            border-width: 0.125rem;
            border-style: solid;
            border-radius: 0.25rem;
            accent-color: rgb(225, 177, 33);
            color: rgb(225, 177, 33);
            inline-size: 50px;
            height: 24px;
        }

        .modal {
            display: flex;
            z-index: 10000;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            justify-content: center;
            width: inherit;
            min-width: 90vw;
            height: inherit;
            min-height: 70vh;
            background: black;
        }

        dialog:not([open]) {
            display: none;
        }

        body.modal-open {
            height: 100vh;
            overflow-y: hidden;
        }

        .rating {
            margin-left: 10px;
        }

        .checked {
            color: orange;
        }

        .fa-star {
            font-size: .85rem;
        }

        button, input[type="submit"], input[type="reset"] {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }

        .finished-date {
            font-size: .75rem;
            margin-left: 12px;
            font-family: "niveau-grotesk", "sans-serif";
            text-transform: uppercase;
        }
    </style>
</head>

<dialog class="modal" style="max-width: 90vw" open="">
    <section style="overflow: auto; min-width: 100%; min-height: 100%; background-color: rgb(30, 29, 28)">
        <header class="generic-header"><h2 class="sec-title white">Shared History</h2></header>
        <ul class="history no-style no-top white">
            {{ range $key, $value := .}}
            <li id="{{ $key }}.history">
                <h4 class="white">{{ $value.Name }} <span class="finished-date gold">{{ $value.Date }}</span>
                    <span id="{{ $key }}.rating" class="rating" style="visibility: visible;">
                    {{ range $index := $value.Score -}}
                    {{ if . -}}
                        <span class="fa fa-star checked"></span>
                    {{ else -}}
                        <span class="fa fa-star"></span>
                    {{ end -}}
                {{ end -}}
                </span>
                </h4>
                <div class="item-details top white">{{ $value.Description }}</div>
            </li>
            {{end -}}
        </ul>
{{/*        <form method="dialog">*/}}
{{/*            <section class="blk food-nav cf">*/}}
{{/*                <div class="wrap cf" style="justify-content: center;display: flex">*/}}
{{/*                    <div class="btn btn-bling btn-gold"><a inert="true">close</a></div>*/}}
{{/*                </div>*/}}
{{/*            </section>*/}}
{{/*        </form>*/}}
    </section>
</dialog>
</html>