.check-box {
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 0.25rem;
    accent-color: rgb(225, 177, 33);
    color: rgb(225, 177, 33);
    inline-size: 50px;
    height: 24px;
}
